.app {
  padding: 0 50px;
}

.container {
  display: flex;
}

.map {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.cell {
  width: 20px;
  height: 20px;
  border: 0.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.have_body {
  background-color: black;
  border: 0.5px solid cadetblue;
}
.clicked {
  cursor: not-allowed;
}
.map-text {
  color: "yellow";
}

.winner {
  transition: all 1s;
  background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.loser {
  transition: all 1s;
  background-image: linear-gradient(to top right, red, orange);
}

.winner::before {
  content: "Ялагч";
}

.loser::before {
  content: "Ялагдагч";
}
