.app {
  padding: 0 50px;
}

.container {
  display: flex;
}

.map {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.cell {
  width: 20px;
  height: 20px;
  border: 0.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.have_body {
  background-color: black;
  border: 0.5px solid cadetblue;
}
.clicked {
  cursor: not-allowed;
}
.map-text {
  color: "yellow";
}

.loser::before {
  content: "Ялагдагч";
}
.winner::before {
  content: "Ялагч";
}
